body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #121212;
  color: #ffa500;
  margin: 0;
  padding: 0;
}

.form-container {
  width: 60%;
  margin: auto;
  padding: 20px;
  border-radius: 50px;
  background-color: #1e1e1e;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label-10 {
  flex: 10%;
  text-align: right;
  margin-right: 5px;
  color: #ffa500;
}

.input-35 {
  flex: 35%;
  background-color: #615f5f;
  color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 5px;
}

.button-40 {
  flex: 40%;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  padding-bottom: 5px;
}

.button-40:hover {
  background-color: #0056b3;
}

.signature-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  font-size: 9pt;
  text-decoration: none;
  padding-bottom: 5px;
}

.signature-container.dark-mode {
  background-color: #1e1e1e;
  color: #fff;
}

.signature-container.light-mode {
  background-color: #fff;
  color: #202c33;
}

.social_link a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .signature-container {
    width: 100%;
    font-size: 8pt;
  }
}

@media (min-width: 768px) {
  .signature-container {
    width: 60%;
    font-size: 9pt;
  }
}
